*, html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  line-height: 1.4;
}

/* Main Banner */
.main-banner {
  height: 50rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
}

.main-banner-container {
  width: 960px;
}

.header {
  width: 960px;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.company {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.company-logo img {
  height: 1.5rem;
}

#company-name {
  padding-left: 1rem;
}

.navigation {
  width: 50%;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.navigation p {
  padding: 1rem 2rem 1rem 0;
}

/* FIX
1. Main Banner CSS need to be fixed
*/
